- provide :title, 'Cars'

.left-container#carsContainer
  %object{type: "application/x-java-applet", id: "cars"}
    %param{name: "code", value: "com/zane/cars/CarThingyApplet.class"}
    %param{name: "archive", value: "carApplet.jar"}
    You must have Java properly installed to view this applet.
