%br
.jumbotron
  %h1 Welcome!!1
  %p{class: "lead"}
    This is the site of Zane Woodfin a Ruby on Rails developer based out of Jacksonville Beach, FL.  It was written with
    %a{href: "http://rubyonrails.org/"} Ruby on Rails 4
    and
    %a{href: "http://getbootstrap.com/"} Twitter Bootstrap 3
    and is hosted on
    %a{href: "https://github.com/alienfungi"} Github
    and
    %a{href: "https://www.heroku.com/about"} Heroku
    %span> .
