%br
.jumbotron
  %h1 Welcome!!1
  %p{class: "lead"}
    This is the site of Zane Woodfin a Ruby on Rails developer based out of Jacksonville Beach, FL.  It was written with
    %a{href: "http://rubyonrails.org/"} Ruby on Rails 4
    and
    %a{href: "http://getbootstrap.com/"} Twitter Bootstrap 3
    and is hosted on
    %a{href: "https://github.com/alienfungi"} Github
    and
    %a{href: "https://www.heroku.com/about"} Heroku
    %span> .

.row
  .col-sm-7
    %p
      I code 12+ hours a day on a GNU/Linux system using Firefox, Vim, and Bash, but I am content to work on any Unix-based system.
      I'm a firm believer in open source and intend to contribute as much as possible in the future.
    %p
      I made the switch from Java to Ruby web development back in late April and haven't looked back.
      I absolutely love Ruby.
      This site was my first solo project in it.
    %p
      I prefer to use Haml and CoffeeScript for front end work, but am perfectly comfortable with ERB and JavaScript.
      My personal projects have generally not been written in a test-driven fashion, but I am familiar with and have used Rspec, Capybara, and Cucumber, and will add tests where needed in the future.
    %p
      My first major independent programming project was in eleventh grade.
      I programmed a 5000 line text-based role playing game on my graphing calculator.
      It had a fully interactive inventory, levelling  system, and turn-based combat system.
    %p 
      When I was in college for Mathematics and taking a Fortran course, I learned C++ on my own, completing all the projects assigned to the C++ course for the whole term within a 2 week period.
      I used my knowledge of C++ to rewrite my text-based rpg in an object-oriented fashion and was working toward turning it into a multiplayer online game, but failed to bring it all together before I became too wrapped up with my actual degree.
  .col-sm-5
    = image_tag 'my_leet_system.jpg', class: 'img-rounded img-responsive'
    %br
    .panel.panel-default
      .panel-body.text-muted
        This picture is a bit dated.
        With the recent improvement of open source video drivers in Ubuntu 13.10 beta, I now have three screens, one of which is my 42" TV.
