- provide :title, 'Java'

#javaThumbs

  = link_to packman_path do
    .thumb-container
      %h1 Packman
      = image_tag "packman_thumb.png"

  = link_to cars_path do
    .thumb-container
      %h1 Cars
      = image_tag "cars_thumb.png"

