- provide :title, 'Packman'
- content_for :header do
  %h1
    Packman
    %small now with A* search!

%ul{class: "nav nav-tabs", id: "packmanTabs"}
  %li{class: "active"}= link_to "Game", "#game", data: { toggle: "tab" }
  %li= link_to "Controls", "#controls", data: { toggle: "tab" }
  %li= link_to "High Scores", "#scores", data: { toggle: "tab" }

.tab-content
  %br
  .tab-pane.active#game
    #packmanContainer
      %table
        %tr
          %td#score score: 0
          %td#lives lives: 3
      %object{type: "application/x-java-applet", id: "packman"}
        %param{name: "archive", value: "packApplet.jar"}
        %param{name: "code", value: "packMan.PackApplet"}
        You must have Java properly installed to view this applet.

  .tab-pane#controls
    %table.table
      %thead
        %tr
          %th Function
          %th Key
      %tbody
        %tr
          %td Up
          %td W
        %tr
          %td Left
          %td A
        %tr
          %td Down
          %td S
        %tr
          %td Right
          %td D
        %tr
          %td Pause
          %td SPACE
        %tr
          %td Menu
          %td M
        %tr
          %td Stats
          %td N

  .tab-pane#scores
    %table{class: "table datatable", data: {source: scores_url(format: "json")}}
      %thead
        %tr
          %th Score
          %th Player
      %tbody

