- provide :title, "Ruby [on Rails]"

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Gallery Sites
  .panel-body
    .row
      .col-xs-12
        %p
          The idea behind this project is to allow the gallery owner to fully edit all the content of their sites with ease.
          A secondary objective of the site, is to make it mobile friendly.
          The
          = link_to 'old sites', 'http://www.tropicart.com'
          are not.
          This one site will serve as two using a location model along with a many to many relationship between artists to serve gallery specific content.
          The contact form stores all messages to the database, so the gallery owner can easily review messages that could otherwise be lost in a sea of email.
          After the mechanics of the site are done, all effort will be moved into making the site look on par with other sites of it's type.
          %br
          (This site is still heavily under construction and has been forked to a private repo.)
    .row
      .col-sm-4
        %a.btn.btn-primary.btn-lg.btn-block{href: "http://gallery-site.herokuapp.com"}
          %span.glyphicon.glyphicon-picture
          Gallery Site
      .col-sm-4
        %a.btn.btn-default.btn-lg.btn-block{href: "https://github.com/alienfungi/gallery_site"}
          %span.glyphicon.glyphicon-cog
          Some Code

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Dating Site
  .panel-body
    .row
      .col-xs-12
        %p
          I used devise for session management.
          It has variable polling based on what page you are on to allow for real time chat on the show page for messages without unnecessarily bogging down the server on other pages.
          %br
          (This site is still heavily under construction and has been forked to a private repo.)
    .row
      .col-sm-4
        %a.btn.btn-primary.btn-lg.btn-block{href: "http://zanes-dating-site.herokuapp.com"}
          %span.glyphicon.glyphicon-heart
          Dating Site
      .col-sm-4
        %a.btn.btn-default.btn-lg.btn-block{href: "https://github.com/alienfungi/dating_site"}
          %span.glyphicon.glyphicon-cog
          Some Code

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Social Network
  .panel-body
    .row
      .col-xs-12
        %p
          I learned Cucumber, Haml, and Ajax while coding this project.
          Images are handled with Gravatar.
          The sessions are managed manually with a modified version of a module I found online.
          There is constant polling to add badges to the navigation bar when new messages arrive or you have new friend requests.
          If you are on the home page, the polling also updates the activity feed and friends list.
    .row
      .col-sm-4
        %a.btn.btn-primary.btn-lg.btn-block{href: "http://zanes-social-network.herokuapp.com"}
          %span.glyphicon.glyphicon-user
          Social Network
      .col-sm-4
        %a.btn.btn-default.btn-lg.btn-block{href: "https://github.com/alienfungi/social_network"}
          %span.glyphicon.glyphicon-cog
          All Code

