- provide :title, "Ruby [on Rails]"

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Social Network
  .panel-body
    .row
      .col-xs-12
        %p
          I learned Cucumber, Haml, and Ajax while coding this project.
          Images are handled with Gravatar.
          The sessions are managed manually with a modified version of a module I found online.
          There is constant polling to add badges to the navigation bar when new messages arrive or you have new friend requests.
          If you are on the home page, the polling also updates the activity feed and friends list.
    .row
      .col-sm-4
        %a.btn.btn-primary.btn-lg.btn-block{href: "http://zanes-social-network.herokuapp.com"}
          %span.glyphicon.glyphicon-user
          Social Network
      .col-sm-4
        %a.btn.btn-default.btn-lg.btn-block{href: "https://github.com/alienfungi/social_network"}
          %span.glyphicon.glyphicon-cog
          The Code
%br
.panel.panel-default
  .panel-heading
    %h3.panel-title
      Dating Site
  .panel-body
    .row
      .col-xs-12
        %p
          I used devise for session management.
          It has variable polling based on what page you are on to allow for real time chat on the show page for messages without unnecessarily bogging down the server on other pages.
          I recently forked it to a private repository.
          %br
          (This site is still heavily under construction.)
    .row
      .col-sm-4
        %a.btn.btn-primary.btn-lg.btn-block{href: "http://zanes-dating-site.herokuapp.com"}
          %span.glyphicon.glyphicon-heart
          Dating Site
      .col-sm-4
        %a.btn.btn-default.btn-lg.btn-block{href: "https://github.com/alienfungi/dating_site"}
          %span.glyphicon.glyphicon-cog
          The Code

