- provide :title, "Ruby [on Rails]"

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Gallery Sites
  .panel-body
    .row
      .col-xs-12
        %p
          The idea behind this project is to make a mobile friendly application that can function as multiple distinct web sites that share one database.
          Additionally, the gallery owner must be able to easily update all content of his/her site by logging in.
          Nearly all content of the site is editable in place when logged in.
    .row
      .col-sm-4
        %a.btn.btn-primary.btn-lg.btn-block{href: "http://gallery-site.herokuapp.com"}
          %span.glyphicon.glyphicon-picture
          Gallery Site

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Dating Site
  .panel-body
    .row
      .col-xs-12
        %p
          This site will likely never be any variant of finished, just something to tinker with.
          Frequent polling is used when on message pages to allow for real-time conversation.
          Multiple user images may be uploaded directly through the interface and stored to Amazon S3.
          Devise is handling session management.
    .row
      .col-sm-4
        %a.btn.btn-primary.btn-lg.btn-block{href: "http://zanes-dating-site.herokuapp.com"}
          %span.glyphicon.glyphicon-heart
          Dating Site
      .col-sm-4
        %a.btn.btn-default.btn-lg.btn-block{href: "https://github.com/alienfungi/dating_site"}
          %span.glyphicon.glyphicon-cog
          Code

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Social Network
  .panel-body
    .row
      .col-xs-12
        %p
          I learned Cucumber, Haml, and Ajax while coding this project.
          Images are handled with Gravatar.
          The sessions are managed manually with a modified version of a module I found online.
          There is constant polling to add badges to the navigation bar when new messages arrive or you have new friend requests.
          If you are on the home page, the polling also updates the activity feed and friends list.
    .row
      .col-sm-4
        %a.btn.btn-primary.btn-lg.btn-block{href: "http://zanes-social-network.herokuapp.com"}
          %span.glyphicon.glyphicon-user
          Social Network
      .col-sm-4
        %a.btn.btn-default.btn-lg.btn-block{href: "https://github.com/alienfungi/social_network"}
          %span.glyphicon.glyphicon-cog
          Code

