- provide :title, "Ruby [on Rails]"

.row
  .col-sm-4
    %a.btn.btn-primary.btn-lg.btn-block{href:"http://zanes-social-network.herokuapp.com"}
      %span.glyphicon.glyphicon-user
      Social Network
  .col-sm-4
    %a.btn.btn-default.btn-lg.btn-block{href:"https://github.com/alienfungi/social_network"}
      %span.glyphicon.glyphicon-cog
      The Code

%br

.row
  .col-sm-4
    %a.btn.btn-primary.btn-lg.btn-block{href:"http://zanes-dating-site.herokuapp.com"}
      %span.glyphicon.glyphicon-heart
      Dating Site
  .col-sm-4
    %a.btn.btn-default.btn-lg.btn-block{href:"https://github.com/alienfungi/dating_site"}
      %span.glyphicon.glyphicon-cog
      The Code
